<div class="container">

  <a href="/" id="back" class="button is-info is-outlined" style="border-radius:5px;margin-left:5%;margin-top:3%; float:left;">Back
    <span class="icon is-small"style="margin-left:2px;">
      <i id="angle-left" class="fa fa-angle-left" aria-hidden="true"></i>
    </span>
  </a>

  <div class="clear-float"></div>

  <div class="content content-left" style="width:100px;">
    <h5 class="subtitle is-5"><strong>Disclaimer</strong></h5>
  </div>

  <div class="content content-right">
    <p class="subtitle is-5">This site is purely for fun. I definitely don't recommend putting a significant portion of your net worth into cryptocurrencies.</p>
  </div>

  <div class="clear-float"></div>

  <div class="content content-left" style="width:100px;">
    <h5 class="subtitle is-5"><strong>Credits</strong></h5>
  </div>

  <div class="content content-right">
      <p class="subtitle is-5">
        Made by <a href="http://www.twitter.com/itsoscarjes">@itsoscarjes</a><br>
        Icons: <a href="https://github.com/allienworks/cryptocoins">Cryptocoins</a><br>
        Crypto Price API: <a href="https://www.cryptocompare.com/api/">CryptoCompare</a><br>
        Favicon: question mark by Dániel Aczél from the Noun Project
      </p>
  </div>
  
</div>