<div class="container">

  <div class="content content-left">
    <% if @final.to_f.nan? == true %>
      <h5 class="title is-3"><strong>Something went wrong. Try again!</strong></h5>
    <% else %>
      <h5 class="title is-3"><strong><%= number_to_percentage(@final, precision: 2) %> of your net worth is in crypto.</strong></h5>
      <h5 class="title is-3"><strong><%= @message %></strong></h5>
    <% end %>
  </div>
    
  <div class="clear-float"></div>
  
  <a href="/" class="button is-info is-outlined" style="border-radius:5px;margin-left:10%;margin-top:3%; float:left;">Try Again</a>

  <div class="clear-float"></div>

</div>