<div class="container">
    <div class="content has-text-centered" style="padding:30px;">
        <h3 class="title is-3">Confirmed!</h3><br>
        <h5 class="subtitle is-5">You'll be the first to know when I launch something new!
        </h5>
        <a href="/" id="back" class="button is-info is-outlined" style="border-radius:5px">Back
          <span class="icon is-small"style="margin-left:2px;">
            <i id="angle-left" class="fa fa-angle-left" aria-hidden="true"></i>
          </span>
        </a>
    </div>
  </div>
  