<div class="columns">
  <div class="column">
  </div>
  <div class="column">
      
  <div class="field" style="margin-top: 100px;">
    <div class="control has-icons-left">
      <input class="input is-medium" type="number" lang="en-150" placeholder="How much Bitcoin you own">
      <span class="icon is-left">
          <i class="fa fa-btc" aria-hidden="true"></i>
        </span>
    </div>
  </div>
    
  <div class="field" style="margin-top: 100px;">
      <div class="control has-icons-left">
        <input class="input is-medium" type="number" lang="en-150" placeholder="Your net worth in USD">
        <span class="icon is-left">
            <i class="fa fa-usd" aria-hidden="true"></i>
          </span>
      </div>
    </div>

    <button class="button is-primary" style="margin-top: 100px; border-radius: 5px;margin-left: 15%;">Calculate Net Worth % in Bitcoin</button>

  </div>
  <div class="column">
  </div>
</div>