<div class="container">

  <a id="how" class="button is-info is-outlined" style="border-radius:5px;margin-left:5%;margin-top:3%; float:left;">How it Works
    <span class="icon is-small"style="margin-left:2px;">
      <i id="angle-down" class="fa fa-angle-down" aria-hidden="true"></i>
    </span>
  </a>
  <a href="/about" class="button is-info is-outlined" style="border-radius:5px;margin-left:2%;margin-top:3%; float:left;">About</a>
  
  <div class="clear-float"></div>
  <article id="instructions" class="message is-hidden" style="margin-left:5%;margin-top:3%;float:left; width:85%">
    <div class="message-body">
      First, enter how much of each crypto currency you own. Then, enter your net worth WITHOUT taking crypto into account (google 'net worth calculator' if you need help figuring that out). Click 'calculate' and find out just how much of your current net worth is in crypto.
    </div>
  </article>

  <div class="clear-float"></div>

  <form action="/submit" method="post">
    <div class="cryptoportfolio">        
        
      <div class="bitcoin-container coins">
        <img src="/assets/BTC-alt.svg" class="coin-img"/>
        <div class="field" style="margin-top: 15px">
          <div class="control">
            <input class="input is-medium" style="border-radius: 5px;" 
              type="number" min="0.00" step="any" name="btc" 
              lang="en-150" placeholder="Bitcoin">
          </div>
        </div>
      </div>

    <div class="ether-container coins" >
      <img src="/assets/ETH-alt.svg" class="coin-img"/>
      <div class="field" style="margin-top: 15px">
        <div class="control">
          <input class="input is-medium" style="border-radius: 5px;" 
            type="number" min="0.00" step="any" name="eth" 
            lang="en-150" placeholder="Ether">
        </div>
      </div>
    </div>

    <div class="ripple-container coins">
      <img src="/assets/XRP-alt.svg" class="coin-img"/>
      <div class="field" style="margin-top: 15px">
        <div class="control">
          <input class="input is-medium" style="border-radius: 5px;" 
            type="number" min="0.00" step="any" name="xrp" 
            lang="en-150" placeholder="Ripple">
        </div>
      </div>
    </div>

    <div class="bitcoincash-container coins">
      <img src="/assets/BCC-alt.svg" class="coin-img"/>
      <div class="field" style="margin-top: 15px">
        <div class="control">
          <input class="input is-medium" style="border-radius: 5px;" 
            type="number" min="0.00" step="any" name="bch" 
            lang="en-150" placeholder="Bitcoin Cash">
        </div>
      </div>
    </div>

    <div class="litecoin-container coins">
      <img src="/assets/LTC-alt.svg" class="coin-img"/>
      <div class="field" style="margin-top: 15px">
        <div class="control">
          <input class="input is-medium" style="border-radius: 5px;" 
            type="number" min="0.00" step="any" name="ltc" 
            lang="en-150" placeholder="Litecoin">
        </div>
      </div>
    </div>


    <div class="dash-container coins">
      <img src="/assets/DASH-alt.svg" class="coin-img"/>
      <div class="field" style="margin-top: 15px">
        <div class="control">
          <input class="input is-medium" style="border-radius: 5px;" 
            type="number" min="0.00" step="any" name="dash" 
            lang="en-150" placeholder="Dash">
        </div>
      </div>
    </div>

    <div class="nem-container coins">
      <img src="/assets/XEM-alt.svg" class="coin-img"/>
      <div class="field" style="margin-top: 15px">
        <div class="control">
          <input class="input is-medium" style="border-radius: 5px;" 
            type="number" min="0.00" step="any" name="xem" 
            lang="en-150" placeholder="NEM">
        </div>
      </div>
    </div>

    <div class="neo-container coins">
      <img src="/assets/NEO.svg" class="coin-img"/>
      <div class="field" style="margin-top: 15px">
        <div class="control">
          <input class="input is-medium" style="border-radius: 5px;" 
            type="number" min="0.00" step="any" name="neo" 
            lang="en-150" placeholder="NEO">
        </div>
      </div>
    </div>

    <div class="iota-container coins">
      <img src="/assets/IOTA.svg" class="coin-img"/>
      <div class="field" style="margin-top: 15px">
        <div class="control">
          <input class="input is-medium" style="border-radius: 5px;" 
            type="number" min="0.00" step="any" name="iot" 
            lang="en-150" placeholder="IOTA">
        </div>
      </div>
    </div>

    <div class="monero-container coins">
      <img src="/assets/XMR.svg" class="coin-img"/>
      <div class="field" style="margin-top: 15px">
        <div class="control">
          <input class="input is-medium" style="border-radius: 5px;" 
            type="number" min="0.00" step="any" name="xmr" 
            lang="en-150" placeholder="Monero">
        </div>
      </div>
    </div>
  
  </div>

  <div class="clear-float"></div>

  <div class="networth">
      
    <div class="field nw-input">
      <div class="control has-icons-left">
        <input id="elementID" class="input is-medium" 
          style="border-radius: 5px;" type="number" name="usd" min="0.00" 
          step="any" lang="en-150" placeholder="USD Net Worth ">
        <span class="icon is-medium is-left">
            <i class="fa fa-usd"></i>
          </span>
      </div>
    </div>
    <button id="js-submit" class="button is-primary is-medium calc-btn" style="margin-bottom:25px;">Calculate</button>
  </div>

  </form>
</div>

<script>      

    $("#js-submit").click(function(e){
      $(e.target).addClass("is-loading"); 
    }); 

    $("#js-about").click(function(e){
      $("#about").addClass("is-active"); 
    }); 

    $(".modal-close").click(function() {
      $(".modal").removeClass("is-active");
   });

   $("#how").click(function(){
    $("#instructions").toggleClass("is-hidden");
  }); 
</script>